@import './styles/reset';
@import './styles/functions';

@font-face {
  font-family: 'Lalezar';
  font-style: normal;
  font-weight: 400;
  src: local('Lalezar'), local('Lalezar-Regular'), url("./assets/fonts/Lalezar.woff2") format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
  font-family: 'Tanha';
  font-style: normal;
  font-weight: 200;
  src: local('Tanha'), local('Tanha-Regular'), url("./assets/fonts/Tanha.woff2") format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

html > body {
  font-size: 14px;
  direction: rtl;
  text-align: right;
  background: $background;
  color: $color;
  font-family: 'Tanha';
}
h1, h2, h3, h4, h5, a {
  font-family: 'Lalezar';
  font-weight: normal;
}

.app-link {
  color: $color;
  transition-property: color, text-shadow;
  transition-duration: 0.2s;

  &:hover,
  &.hover {
    color: $theme-color;
  }
}